RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]
#RewriteRule ^https:\/\/ilt\.kuleuven\.be\/php72\/docs\/(.*)$ https://ilt.kuleuven.be/php72/docs/?p=$1 [R=301,NC,L]